In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("contents/test.csv")

In [3]:
train.describe(include="all")

,Id,A,B,C,D,E,F,G,H,I,...,K,L,M,N,O,P,Q,R,S,T
count,1459.000000,1459.000000,1455,1232.000000,1459.000000,1459,107,1459,1459,1457,...,1459,1459,1459,1459,1459,1459,1459.000000,1459.000000,1459.000000,1459.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,1,...,3,25,9,6,5,7,NaN,NaN,NaN,NaN
top,NaN,NaN,AO,NaN,NaN,Pave,Grvl,Seg,Sks,DoneSa,...,Apk,NAmes,Farm,Farm,3Rem,4Lory,NaN,NaN,NaN,NaN
freq,NaN,NaN,1114,NaN,NaN,1453,70,934,1311,1457,...,1396,218,1251,1442,1205,745,NaN,NaN,NaN,NaN
mean,730.000000,57.378341,NaN,49.377435,688.540096,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.553804,11.107608,1971.357779,1983.662783
std,421.321334,42.746880,NaN,30.346436,512.962555,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.113740,2.227479,30.390071,21.130467
min,1.000000,20.000000,NaN,10.000000,240.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,1879.000000,1950.000000
25%,365.500000,20.000000,NaN,30.000000,240.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,10.000000,1953.000000,1963.000000
50%,730.000000,50.000000,NaN,35.000000,600.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,10.000000,1973.000000,1992.000000
75%,1094.500000,70.000000,NaN,72.000000,840.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,12.000000,2001.000000,2004.000000
max,1459.000000,190.000000,NaN,200.000000,2280.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,18.000000,2010.000000,2010.000000